<h1> GetSmarter | Equipment </h1> 
<h2> SHOW | List of Equipment </h2> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Serial Number</th>
      <th>Employee</th>
      <th>Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
     <% @equipment.each do |equip| %>
      <tr>
        <td><%= equip.name %></td>
        <td><%= equip.equipment_type %></td>
        <td><%= equip.serial_no %></td>
        <td><%= equip.employee %></td>
        <td><%= equip.status %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equip) %></td>
        <td><%= link_to 'Delete', equip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Add New Equipment', new_equipment_path %>




